// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
   box-sizing: border-box;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   color: #000;
   text-decoration: none;
}

/**
 * Basic styles for heading
 */

h1 {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   color: #000;
	line-height: 1.2;
   overflow-x: hidden;
	margin: 0;
}


.container,
.container__lg,
.container__small {
   max-width: 970px;
   width: 100%;
   margin: 0 auto;
   padding: 0 20px;
}

.container__lg {
   max-width: 1152px;
}

.container__small {
   max-width: 770px;
}

.main-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	padding-bottom: 18px;
	border-color: transparent;
	border-radius: 10px;
   font-size: 22px;
   color: rgb(255, 255, 255);
   font-weight: 700;
	width: 123px;
	height: 50px;
	background-color: rgb(10, 153, 171);
	box-shadow: 0px 20px 46px 0px rgba(100, 159, 184, 0.3);
	cursor: pointer;
}

.main-title{
	margin-top: 0;
	margin-bottom: 45px;
	font-size: 48px;
	color: rgb(255, 255, 255);
	font-weight: 700;
	line-height: 1.208;
}
 
 